[defaults]
inventory = ./inventory/production.yml
host_key_checking = False
remote_user = admin
roles_path = ./roles
retry_files_enabled = False
gathering = smart
fact_caching = memory
log_path = ./ansible.log
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ServerAliveInterval=60
control_path = ~/.ssh/ansible-%%r@%%h:%%p
